[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
notebook = "*"
tensorflow = "*"
statsmodels = "*"
nltk = "*"

[requires]
python_version = "3.8"

[scripts]
start = "jupyter notebook"
